<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header>
  <div class="header">
    <div class="logo">logo</div>
    <nav>
      <ul>
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li><a href="#">item4</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
  <div class="wrapper">
    <h1></h1>
    <article>
      <h1></h1>
      <header></header>
      <p></p>
      <footer></footer>
    </article>
  </div>
</section>
<footer>
  <div class="footer">
    <p>@copyright 2015</p>
  </div>
</footer>
<style>
  div{
    width: 10px;
    margin: 0 a;
    margin: 10px 0 5px;
  }
</style>
</body>
</html>
